<h1>MY TASKS</h1>
<% @tasks.each do |task| %>
<h4><%= task.title %> </h4>
<h5>TRUE/FALSE(<%= task.completed %>)</h5>
<%= link_to task.title, task_path(task) %>
<%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<% end %>

<p><%= link_to "add task", new_path %></p>




